<form class="add-post-form">
    <div>
        <h2>Edit Post <span id="post-id">{{comment_id}}</span></h2>
        <div>
            <label>Content</label>
            <input type="text" id="content" value={{comment.content}}>
        </div>
        <button type="submit" value="submit">EDIT</button>
    </div>
</form>

<button id="delete-post-btn">DELETE</button>

<script src="/js/editcomment.js"></script>