<form class="add-post-form">
    <div>
        <h2>Edit Post <span id="post-id">{{post_id}}</span></h2>
        <div>
            <label>Title</label>
            <textarea id="title">{{posting.title}}</textarea>
        </div>
        <div>
            <label>Content</label>
            <textarea id="content">{{posting.content}}</textarea>
        </div>
        <button type="submit" value="submit">POST</button>
    </div>
</form>

<button id="delete-post-btn">DELETE</button>

<script src="/js/editpost.js"></script>