<form class="add-post-form">
    <div>
        <h2>Edit Post <span id="post-id">{{post_id}}</span></h2>
        <div>
            <label>Title</label>
            <input type="text" id="title" value={{posting.title}}>
        </div>
        <div>
            <label>Content</label>
            <input type="text" id="content" value={{posting.content}}>
        </div>
        <button type="submit" value="submit">POST</button>
    </div>
</form>

<button id="delete-post-btn">DELETE</button>

<script src="/js/editpost.js"></script>