<form class="add-post-form">
    <div>
        <h2>Edit Comment</h2>
        <div>
            <label>Content</label>
            <textarea class="form-input" id="content">{{comment.content}}</textarea>
        </div>
        <button class='btn btn-primary' type="submit" value="submit">EDIT</button>
    </div>
</form>

<button class="btn btn-primary" id="delete-post-btn">DELETE</button>

<script src="/js/editcomment.js"></script>