<form class="add-post-form">
    <div>
        <h2>Add New Post</h2>
        <div>
            <label>Title</label>
            <input type="text" id="title">
        </div>
        <div>
            <label>Content</label>
            <input type="text" id="content">
        </div>
        <button type="submit" value="submit">POST</button>
    </div>
</form>

<script src="/js/newpost.js"></script>