<form class="add-post-form">
    <div>
        <h2>Add New Post</h2>
        <div class="form-group">
            <label>Title</label>
            <input class="form-input" type="text" id="title">
        </div>
        <div class="form-group">
            <label>Content</label>
            <textarea class="form-input" type="text" id="content"></textarea>
        </div>
        <button class="btn btn-primary" type="submit" value="submit">POST</button>
    </div>
</form>

<script src="/js/newpost.js"></script>