<section class="container">
    <div class="title">
        <h2 class="top-header" style="display: inline">{{posting.title}}</h2>
        <h5 class="user">Posted by {{user.username}} on {{posting.date_created}}</h5>
    </div>
    <div>
        <h4 class="text">{{posting.content}}</h4>
    </div>
</section>